<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
    
    <body>

         {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
         <link href="{{asset('build/app.css') }} rel="stylesheet" />
        {% endblock %}

        <div class="container">
            {% block content %}
            {% endblock %}

        </div>
            {% block javascripts %}
             {{ encore_entry_link_tags('app') }}
             <script src="/build/app.js" defer></script>
            {% endblock %}
       
         </head>
    </body>
</html>
